*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, rgb(37, 37, 188), rgb(40, 146, 184));
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
