body{
    margin: 0;
    font-family: cursive;
    
}
.bar1,.bar2,.bar3{
    height: 5px;
    width: 26px;
    background-color: black;
    margin: 3px;
    transition: 0.5s;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: pink;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    transition: 0.4s;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    
    
}
.navbar:hover{
    background-color: orangered;
}
.navbar .menu-container{
    cursor: pointer;

}
.navbar .menu-list li a{
    text-decoration: none;
    color: black;
    border: none;
    outline: none;
    margin: 1px;
    transition: 0.4s;
    padding: 5px;
}
.navbar .menu-list li a:hover{
    background-color: pink;
    border-radius: 5px;
}

.navbar .menu-list li{
    margin: 3px;

}
.navbar .menu-list{
    list-style: none;
    position: absolute;
    top: 24px;
    left: 0;
    padding: 7px;
    z-index: 2;
    display: none;
    transition: 0.8s ease-in;
    width: 150px;
    background-color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

}
.navbar .moon{
    background-color: black;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttons-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 245, 155);

}
.buttons-container a{
    text-decoration: none;
}
.buttons-container button{
   width: 200px;
   height: 30px;
   border-radius: 10px;
   border: none;
   background-color: pink;
   font-family: cursive;
   margin: 5px;
   display: block;
   transition: 0.4s;
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.buttons-container button:hover{
    background-color: orangered;
    width: 230px;
    height: 35px;
}
.change .bar1{
    transform: translate(0, 8px) rotate(-45deg);
    background-color: blue;
}
.change .bar3{
    transform: translate(0, -8px) rotate(45deg);
    background-color: blue;
}
.change .bar2{
    opacity: 0;
}
.show .menu-list{
    display: block;
}

