h3{
    text-align: center;
    color: pink;
}
body{
    margin: 0;
    font-family: cursive;
}
p{
    color: pink;
    line-height: 2px;
}

.buttons-container{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(71, 71, 155);
    opacity: 0.9;

}
.buttons-container a{
    text-decoration: none;
}
.buttons-container button{
   width: 200px;
   height: 30px;
   border-radius: 10px;
   border: none;
   background-color: pink;
   font-family: cursive;
   margin: 7px;
   color: rgb(71, 71, 155);
   display: block;
   transition: 0.4s;
   cursor: pointer;
   box-shadow: 2px 4px 8px rgba(232, 181, 181, 0.5);
}
.buttons-container button:hover{
    background-color: orangered;
    color: purple;
    width: 230px;
    height: 35px;
}


